In [2]:
import pandas as pd
import os
import yaml

In [3]:
files = os.listdir('data')
files_paths = ['data/' + file for file in files]
files_paths

['data/A.csv',
 'data/AACG.csv',
 'data/ABBV.csv',
 'data/ABC.csv',
 'data/country_wise_latest.csv',
 'data/full_grouped.csv',
 'data/netflix_titles.csv',
 'data/Titanic-Dataset.csv']

In [4]:
df_li = [pd.read_csv(file) for file in files_paths]

In [5]:
df_li[0].describe()

,Open,High,Low,Close,Adj Close,Volume
count,5124.000000,5124.000000,5124.000000,5124.000000,5124.000000,5.124000e+03
mean,34.090255,34.560553,33.629467,34.106245,31.778674,3.693250e+06
std,18.608831,18.834528,18.381718,18.611595,18.730529,2.481855e+06
min,7.653791,7.961373,7.510730,7.761087,6.674886,2.719000e+05
25%,21.101574,21.452074,20.785050,21.130186,18.790381,2.206475e+06
50%,27.328326,27.703863,27.010015,27.396280,24.714866,3.174050e+06
75%,41.500000,41.860001,41.130001,41.525204,39.203083,4.508075e+06
max,111.587982,115.879829,103.719597,113.733902,97.816307,6.254630e+07

In [12]:
# Prepare the metadata
for idx in range(len(df_li)):
    df = df_li[idx]
    file_name = files[idx]
    metadata = {
        'File Name': file_name,
        'Columns': {}
    }

    # Get column descriptions without percentiles
    for col in df.columns:
        desc = df[col].describe(percentiles=[])
        desc_dict = desc.to_dict()
        if '50%' in desc_dict:
            del desc_dict['50%']
        metadata['Columns'][col] = desc_dict

    # Get the first two rows of data
    metadata['Data (first two rows)'] = df.head(2).to_dict(orient='records')

    out_file_name = 'metadata/metadata_' + files[idx].split('.')[0] + '.yaml'

    file_comment = f"# This is the metadata of a csv file which contains the file name: '{file_name}', description of these columns generated using pandas: {list(df.columns)} and the first two rows of data.\n"

    # Write the metadata to a YAML file with a comment
    with open(out_file_name, 'w') as file:
        file.write(file_comment)
        yaml.dump(metadata, file, default_flow_style=False, sort_keys=False)

    print(f"Metadata written to {out_file_name}")

Metadata written to metadata/metadata_A.yaml
Metadata written to metadata/metadata_AACG.yaml
Metadata written to metadata/metadata_ABBV.yaml
Metadata written to metadata/metadata_ABC.yaml
Metadata written to metadata/metadata_country_wise_latest.yaml
Metadata written to metadata/metadata_full_grouped.yaml
Metadata written to metadata/metadata_netflix_titles.yaml
Metadata written to metadata/metadata_Titanic-Dataset.yaml

/home/aaryan/penvs/pathway_dev/lib/python3.10/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)